@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;800&display=swap');

.Faq-Sec-1 {
    background-image: url('../Images/Background.png');
    height: 215px;
    width: 100%;
}

.Faq-Sec-1 h1 {
    height: 48px;
    color: white;
    margin-left: 180px;
    font-family: Urbanist;
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
}

.faq-dflex {
    display: flex;
    margin-left: 180px;
    height: 22px;
    margin-top: 15px;
}

.Faq-Sec-1 .arrow {
    width: 20px;
    height: 12px;
}

.Faq-Sec-2 {
    width: 100%;
    text-align: center;
}

.Faq-Sec-2-h3 {
    text-align: center;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 1.600000023841858px;
    color: rgb(29, 201, 254);
}

.Faq-Sec-2-h1 {
    text-align: center;
    font-family: Urbanist;
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
}

.Faq-Accordions {
    border: 1px rgba(238, 238, 238, 1);
    border-left: none;
    width: 100%;
    top: 21px;
}

.accordion-body {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    overflow: hidden;
}

.accordion-button {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}